@import '../../../sassStyles/mixins';

.brand-new-models {
  margin-bottom: 57px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 140%;
    width: 136px;

    @include onTablet {
      font-size: 32px;
      width: auto;
    }
  }
}
