@import '../../../sassStyles/colors';
@import '../../../sassStyles/mixins';
@import '../../../sassStyles/sizes';

.burger-menu {
  position: fixed;
  top: $header-height-mobile;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 24px;

  background-color: $color__main;

  border-top: 1px solid $color__elemets;

  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  transition-delay: 0.3s;

  z-index: 1;

  &--active {
    transform: translateX(0);
  }

  @include onTablet {
    display: none;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    width: 100%;

    border-top: 1px solid $color__elemets;
  }

  // &__icon-block {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   width: 100%;
  //   height: 64px;

  //   box-shadow: -1px 0 0 $color__elemets;

  //   @include onDesktop {
  //     width: 64px;
  //   }
  // }

  // &__icon {
  //   background-size: contain;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   width: $icon-size;
  //   height: $icon-size;

  //   &--favourites {
  //     background-image: url('../../../static/Header/favourites-icon.svg');
  //   }

  //   &--cart {
  //     background-image: url('../../../static/Header/cart-icon.svg');
  //   }
  // }

  // &__icon-link {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: relative;

  //   width: 100%;
  //   height: 100%;

  //   &::after {
  //     content: '';
  //     position: absolute;
  //     bottom: 0;
  //     height: 3px;
  //     width: 100%;

  //     transition: background-color 0.3s ease;
  //   }

  //   &--active {
  //     color: $color__primary;

  //     &::after {
  //       background: $color__primary;
  //     }
  //   }
  // }
}
