@import '../../../sassStyles/colors';
@import '../../../sassStyles/mixins';
@import '../../../sassStyles/sizes';

.burger-menu {
  position: fixed;
  top: $header-height-mobile;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 24px;

  background-color: $color__main;

  border-top: 1px solid $color__elemets;

  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  transition-delay: 0.3s;

  z-index: 2;

  &--active {
    transform: translateX(0);
  }

  @include onTablet {
    display: none;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    width: 100%;

    border-top: 1px solid $color__elemets;
  }
}
