@import '../../../sassStyles/colors';
@import '../../../sassStyles/mixins';
@import '../../../sassStyles/sizes';

.iconBlock {
  display: flex;

  width: 100%;
  height: 64px;

  box-shadow: -1px 0 0 $color__elemets;

  @include onTablet {
    width: 48px;
    height: 100%;
  }

  @include onDesktop {
    width: 64px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 100%;

      transition: background-color 0.3s ease;
    }

    &--active {
      color: $color__primary;

      &::after {
        background: $color__primary;
      }
    }
  }

  &__icon {
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: $icon-size;
    height: $icon-size;

    &--Favourites {
      background-image: url('../../../static/Header/favourites-icon.svg');
    }

    &--Cart {
      background-image: url('../../../static/Header/cart-icon.svg');
    }
  }
}
