@import '../../sassStyles/mixins';

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  &_image {
    width: 64px;

    @include onDesktop {
      width: 80px;
    }
  }
}
