@import '../../sassStyles/reset';
@import '../../sassStyles/mixins';
@import '../../sassStyles/colors';
@import '../../sassStyles/sizes';

.card {
  // display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 180px;
  // max-width: 212px;
  min-width: 100%;

  border: 1px solid $color__elemets;
  padding: 16px;

  @include onTablet {
    // max-width: 237px;

    width: 100%;
  }

  @include onDesktop {
    max-width: 272px;
    width: 100%;
  }

  &__img {
    height: 129px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 24px;

    object-fit: contain;
    box-sizing: content-box;

    @include onTablet {
      height: 202px;
    }

    @include onDesktop {
      height: 196px;
    }
  }

  &__title {
    padding-bottom: 8px;

    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $color__primary;
    height: 42px;
  }

  &__prices {
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 8px;

    &--price {
      padding-right: 8px;
    }

    &--old-price {
      font-weight: 600;
      color: $color__secondary;
      text-decoration: line-through;
    }
  }

  &__specifications {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-top: solid 1px;
    border-color: $color__elemets;
    padding-top: 16px;

    &--feature {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      font-size: 12px;
    }

    &--feature:nth-child(2) {
      align-items: end;
    }

    &--feature:first-child span {
      color: $color__secondary;
      padding-bottom: 8px;
    }

    &--feature:nth-child(2) span {
      color: $color__primary;
      padding-bottom: 8px;
    }
  }

  &__button {
    width: 100%;
    height: 40px;

    background-color: $color__primary;
    color: $color__main;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 700;

    &--active {
      background-color: $color__main;
      color: $color__accent--text;
      border: 1px solid #e2e6e9;
    }
  }

  &__footer {
    display: flex;
  }

  &__fav-button {
    min-width: 40px;
    min-height: 40px;
    margin-left: 8px;

    border: 1px solid $color__icons;

    cursor: pointer;
  }

  &__fav-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: $icon-size;
    min-width: $icon-size;

    &--pasive {
      background-image: url('../../static/Card/favorite.svg');
    }

    &--active {
      background-image: url('../../static/Card/favourite-active.svg');
    }
  }

  &--slider {
    min-width: 212px;
    max-width: none;

    @include onTablet {
      min-width: 237px;
      max-width: none;
    }

    @include onDesktop {
      min-width: 272px;
      max-width: none;
    }
  }
}
