@import '../../../sassStyles/colors';
@import '../../../sassStyles/mixins';

.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;

  height: 48px;

  box-shadow: 0px 1px 0px $color__elemets;

  @include onDesktop {
    height: 64px;
  }

  &__logo {
    padding: 0 16px;

    @include onDesktop {
      padding: 0 24px;
    }
  }

  &__links {
    display: flex;
    gap: 24px;
    align-items: center;
    height: 100%;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 100%;

    box-shadow: -1px 0px 0px $color__elemets;

    @include onTablet {
      display: none;
    }
  }

  &__menu-icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;

    &--closed {
      background-image: url('../../../static/Header/menu-closed.svg');
    }

    &--opened {
      background-image: url('../../../static/Header/menu-opened.svg');
    }
  }

  &__menu-opener {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    border: none;
    background-color: $color__main;

    cursor: pointer;
  }

  &__icons {
    display: none;

    @include onTablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }
  }

  &__nav {
    display: none;

    @include onTablet {
      display: block;
      height: 100%;
    }
  }
}
