.humburgerMenu {
  position: fixed;
  top: 49px;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 24px;

  background-color: $color__main;

  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  
  
  &--isActive {
    transform: translateX(0);
  }

  @include onTablet {
    display: none;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    width: 100%;

    border-top: 1px solid $color__elemets;
  }

  &__square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 64px;

    box-shadow: -1px 0px 0px $color__elemets;

    @include onDesktop {
      width: 64px;
    }
  }

  &__icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;

    &--favourites {
      background-image: url('../Header/Header.images/favourites-icon.svg');
    }

    &--cart {
      background-image: url('../Header/Header.images/cart-icon.svg');
    }
  }
}