$color__main: #fff;
$color__hover-bg: #fafbfc;
$color__elemets: #e2e6e9;
$color__icons: #b4bdc3;
$color__secondary: #89939a;
$color__primary: #313237;
$color__accent--text: #27ae60;
$color__accent--bg: #eb5757;
