$color__main: #fff;
$color__hover-bg: #fafbfc;
$color__elemets: #e2e6e9;
$color__icons: #b4bdc3;
$color__secondary: #89939a;
$color__primary: #313237;
$color__accent--text: #27ae60;
$color__accent--bg: #eb5757;

$product__black: #4c4c4c;
$product__green: #aee1cd;
$product__yellow: #ffe681;
$product__white: #fbf7f4;
$product__purple: #b8afe6;
$product__red: #ba0c2e;
$product__spacegray: #535150;
$product__midnightgreen: #4e5851;
$product__gold: #dfccb7;
$product__silver: #e4e4e2;
$product__rosegold: #e6c7c2;
$product__coral: #ee7762;
