@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Mont-Regular.ttf');
}

@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Mont-SemiBold.ttf');
}

@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Mont-Bold.ttf');
}
