@import '../../sassStyles/mixins';
@import '../../sassStyles/colors';

.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include onTablet {
      flex-direction: row;
    }
  }

  &__img {
    height: 25%;
    width: 25%;
  
    margin-bottom: 20px;
  
    @include onTablet {
      height: 30%;
      width: 30%;
    }
  
    @include onDesktop {
      height: 35%;
      width: 35%;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 20px;
  
    width: 40%;
    height: 40px;
  
    @include onTablet {
      width: 40%;
      height: 50px;
    }
  
    @include onDesktop {
      width: 50%;
    }
  
    text-decoration: none;
    text-align: center;
    color: $color__main;
  
    background-color: $color__primary;
    border: 1px solid transparent;
  
    transition: all 0.3s ease-in-out;
  
    &:hover {
      box-shadow: 0px 3px 13px 0px #17203166;
    }
  
    &:active {
      background-color: $color__main;
  
      color: $color__accent--text;
  
      border: 1px solid $color__elemets;
    }
  }
}
