@import '../../sassStyles/mixins';

.website-title {
  // position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;

  @include onTablet {
    padding-bottom: 7px !important;
  }

  @include onDesktop {
    padding-bottom: 31px !important;
  }
}
