@import '../mixins';

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
    margin: 0 auto;
  }
}
