@import '../mixins';

$columns--tablet: 12;
$columns--desktop: 24;

.grid {
  display: grid;
  column-gap: 16px;

  @include onTablet {
    grid-template-columns: repeat($columns--tablet, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat($columns--desktop, 1fr);
  }

  &__item {
    @include onTablet {
      @for $start from 1 through $columns--tablet {
        @for $end from 1 through $columns--tablet {
          &--tablet_#{$start}-#{$end} {
            grid-column: #{$start} / #{($end + 1)};
          }
        }
      }
    }

    @include onDesktop {
      @for $start from 1 through $columns--desktop {
        @for $end from 1 through $columns--desktop {
          &--desktop_#{$start}-#{$end} {
            grid-column: #{$start} / #{($end + 1)};
          }
        }
      }
    }
  }
}
