@import '../mixins';

.page {
  &__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__header {
    position: sticky;
    top: 0;

    margin-bottom: 25px;

    z-index: 1;
  }

  &--with-menu {
    overflow: hidden;

    @include onTablet {
      overflow: visible;
    }
  }

   &__cart {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }
  
  &__main {
    flex-grow: 1;
  }

  &__breadcrumbs {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }
}
