@import '../mixins';

.page {
  &__header {
    margin-bottom: 25px;
  }

  &--with-menu {
    overflow: hidden;

    @include onTablet {
      overflow: auto;
    }
  }

  &__cart{
    margin: 0 auto;
  }
}
