@import '../mixins';

.page {
  &__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__header {
    position: sticky;
    top: 0;

    margin-bottom: 25px;

    z-index: 1;
  }

  &--with-menu {
    overflow: hidden;

    @include onTablet {
      overflow: visible;
    }
  }

  &__main {
    flex-grow: 1;
  }

  &__back-button {
    margin-bottom: 16px;
  }

  &__alone-back-button {
    margin-bottom: 24px;
    padding-top: 0px;

    @include onTablet {
      margin-bottom: 16px;
      padding-top: 15px;
    }
  }
}
